{{ define "title" }}Virel Explorer{{ end }}

{{ define "content" }}

{{ block "header" . }}{{end}}

<section class="section">
	<div class="container">
		<h2 class="title is-4">
			Account {{.Address}}
		</h2>

		<div class="container-fluid">
			<div class="is-flex">
				<div class="is-flex-grow-1">
					ID
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Address}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Balance
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{fmt_coin .Info.Balance}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Last Nonce
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Info.LastNonce}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Balance (mempool)
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{fmt_coin .Info.MempoolBalance}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Last Nonce (mempool)
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Info.MempoolNonce}}
				</div>
			</div>
		</div>

		<!-- Transactions -->
		<div class="block mt-6">	
			<h3 class="title is-5">Transactions ({{.TransferType}})</h3>

			<div class="tabs">
            	<ul>
                	<li class="{{if eq .TransferType "incoming"}}is-active{{end}}"><a href="/account/{{.Address}}?transfer_type=incoming">Incoming</a></li>
                	<li class="{{if eq .TransferType "outgoing"}}is-active{{end}}"><a href="/account/{{.Address}}?transfer_type=outgoing">Outgoing</a></li>
                </ul>
            </div>

			<table class="table mb-6" style="width: 100%;">
                <thead>
                	<tr>
						<th>Time</th>
						<th>Height</th>
                		<th>Hash</th>
						<th>Amount</th>
                    </tr>
                </thead>
                <tbody>
					{{ range .TxList }}
                    <tr>
						<td>{{ index $.BlockTimes .Tx.Height }}</td>
						<td>{{ .Tx.Height }}</td>
                    	<td style="max-width:50vw;"><a href="/tx/{{.Txid}}" class="hash">{{.Txid}}</a></td>
						<td>{{ fmt_coin .Tx.TotalAmount }} VRL</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

			<div class="buttons is-centered">
				<!-- First button -->
				<!-- if page > 1 ? is-primary : is-static-->
				<a class="button {{ if isGreater .Page 1 }}is-primary{{ else }}is-static{{ end }}"
					title="First page" href="/account/{{.Address}}?transfer_type={{$.TransferType}}">
					<span class="icon">
						<i class="fas fa-angle-double-left"></i>
					</span>
				</a>

				<!-- Previous button-->
				<a class="button {{ if isGreater .Page 0 }}is-primary{{ else }}is-static{{ end }}" href="/account/{{.Address}}?transfer_type={{$.TransferType}}&page={{sub .Page 1}}">Previous</a>

				<!-- Current page indicator -->
				<span class="button is-static">Page {{add .Page 1}} of {{add .MaxPage 1}}</span>

				<!-- Next button -->
				<a class="button {{ if isGreater .MaxPage .Page }}is-primary{{ else }}is-static{{ end }}" href="/account/{{.Address}}?transfer_type={{$.TransferType}}&page={{add .Page 1}}">Next</a>

				<!-- Last button -->
				<!-- if page <= maxPage - 2 ? is-primary : is-static -->
				<a class="button {{ if and (isGreater .MaxPage 3) (le .Page (sub .MaxPage 2)) }}is-primary{{ else }}is-static{{ end }}" 
					title="Last page" href="/account/{{.Address}}?transfer_type={{$.TransferType}}&page={{.MaxPage}}">
					<span class="icon">
						<i class="fas fa-angle-double-right"></i>
					</span>
				</a>
            </div>

		</div>

	</div>
</section>

{{ end }}