{{ define "title" }}Virel Explorer{{ end }}

{{ define "content" }}

{{ block "header" . }}{{end}}

<section class="section">
	<div class="container">
		<h2 class="title is-4">
			Account {{.Address}}
		</h2>

		<div class="container-fluid">
			<div class="is-flex">
				<div class="is-flex-grow-1">
					ID
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Address}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Balance
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{fmt_coin .Info.Balance}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Last Nonce
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Info.LastNonce}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Balance (mempool)
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{fmt_coin .Info.MempoolBalance}}
				</div>
			</div>
			<div class="is-flex">
				<div class="is-flex-grow-1">
					Last Nonce (mempool)
				</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{.Info.MempoolNonce}}
				</div>
			</div>
		</div>

		<!-- Transactions -->
		<div class="block mt-6">	
			<h3 class="title is-5">Transactions ({{.TransferType}})</h3>

			<div class="tabs">
            	<ul>
                	<li class="{{if eq .TransferType "incoming"}}is-active{{end}}"><a href="/account/{{.Address}}?transfer_type=incoming">Incoming</a></li>
                	<li class="{{if eq .TransferType "outgoing"}}is-active{{end}}"><a href="/account/{{.Address}}?transfer_type=outgoing">Outgoing</a></li>
                </ul>
            </div>

			<table class="table" style="width: 100%;">
                <thead>
                	<tr>
						<th>Time</th>
						<th>Height</th>
                		<th>Hash</th>
						<th>Amount</th>
                    </tr>
                </thead>
                <tbody>
					{{ range .TxList }}
                    <tr>
						<td>{{ index $.BlockTimes .Tx.Height }}</td>
						<td>{{ .Tx.Height }}</td>
                    	<td style="max-width:50vw;"><a href="/tx/{{.Txid}}" class="hash">{{.Txid}}</a></td>
						<td>{{ fmt_coin .Tx.TotalAmount }} VRL</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

			<div class="buttons">
				{{ if isGreater .Page 0 }}
				<a class="button is-primary" href="/account/{{.Address}}?transfer_type={{$.TransferType}}&page={{sub .Page 1}}">Previous</a>
				{{ end }}
				{{ if isGreater .MaxPage .Page }}
				<a class="button is-primary" href="/account/{{.Address}}?transfer_type={{$.TransferType}}&page={{add .Page 1}}">Next</a>
				{{ end }}
            </div>

		</div>

	</div>
</section>

{{ end }}