{{ define "header" }}


<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<h1 class="title">
					Virel Explorer
				</h1>
			</a>
		</div>
		<div class="navbar-menu">
			<a class="navbar-item" href="/richlist">
				Rich List
			</a>
			<form action="/search" method="get" class="navbar-item" style="width:100%">
				<p class="control has-icons-right" style="margin:auto;min-width:90%">
					<input type="text" class="input" name="q" placeholder="Search blocks, transactions or wallet addresses">
					<span class="icon is-small is-right">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search">
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
						</svg>
					</span>
				</p>	
			</form>
		</div>	
	</div>
</nav>

{{ end }}