{{ define "title" }}Virel Explorer{{ end }}

{{ define "content" }}

{{ block "header" . }}{{end}}

<section class="section">
    <div class="container">
        <h2 class="title is-4">Rich List</h2>

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .List }}
                    <tr>
                        <td>{{ .Rank }}</td>
                        <td style="max-width:50vw;"><a href="/account/{{ .Address }}" class="hash">{{ .Address }}</a></td>
                        <td>{{ fmt_coin .Balance }}</td>
                        <td>{{ printf "%.2f" .Percent }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</section>

{{ end }}