{{ define "title" }}Virel Explorer{{ end }}

{{ define "content" }}

{{ block "header" . }}{{end}}

<section class="section py-3">
	<div class="container">
		<h2 class="title is-4 mb-1">Stats</h2>
		<div class="is-flex is-flex-wrap-wrap">
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Height
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.Height}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Hashrate
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.Hashrate}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Reward
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.Reward}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Total Supply
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.TotalSupplyStr}} ({{.Info.TotalSupplyPercent}})
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Circulating Supply
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.Circulating}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Burned
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.BurnedStr}} ({{.Info.BurnedPercent}})
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Max supply
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.MaxSupplyStr}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Effective supply cap
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.Cap}}
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Stake
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Info.StakeStr}} ({{.Info.StakePercent}})
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Price
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Market.FormatPrice}} <span style="color:{{if .Market.IsPositiveChange}}#00b33c{{else}}#cc0000{{end}};">({{.Market.Change}})</span>
				</div>
			</div>
			<div class="box is-flex info-card is-align-items-center">
				<div class="is-flex-grow-1">
					Marketcap
				</div>
				<div class="title is-4 is-flex-grow-1 has-text-right has-text-primary">
					{{.Market.FormatMarketcap}}
				</div>
			</div>
		</div>
		<div class="is-flex is-flex-wrap-wrap">
			<a class="box info-card info-btn has-text-primary" href="/delegates">
				<div class="has-text-weight-semibold has-text-centered">
					Delegates
				</div>
			</a>
			<a class="box info-card info-btn has-text-primary" href="#richlist">
				<div class="has-text-weight-semibold has-text-centered">
					Rich list
				</div>
			</a>
			<a class="box info-card info-btn has-text-primary" href="/staking">
				<div class="has-text-weight-semibold has-text-centered">
					Staking stats
				</div>
			</a>
		</div>
	</div>

	<div class="container">
		<h2 class="title is-4" id="richlist">Rich List</h2>

		<div class="table-container">
			<table class="table is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>#</th>
						<th>Address</th>
						<th>Balance</th>
						<th>%</th>
					</tr>
				</thead>
				<tbody>
					{{ range .RichList }}
					<tr>
						<td>{{ .Rank }}</td>
						<td style="max-width:50vw;"><a href="/account/{{ .Address }}" class="hash">{{ entity .Address }}</a></td>
						<td>{{ printf "%.0f" .Balance }}</td>
						<td>{{ printf "%.2f" .Percent }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</section>

{{ end }}