{{ define "title" }}Virel Explorer - Transaction{{ end }}

{{ define "content" }}

{{ block "header" . }}{{end}}

<section class="section">
	<div class="container box">
		<h2 class="title is-4">
			Transaction info
		</h2>

		<div class="container-fluid">
			<div class="is-flex">
				<div class="is-flex-grow-1">ID</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ .Txid }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Sender</div>
				<a class="is-flex-grow-1 has-text-right hash" style="max-width:70%;" href="/account/{{ .Tx.Sender }}">
					{{ .Tx.Sender }}
				</a>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Recipient</div>
				<a class="is-flex-grow-1 has-text-right hash" style="max-width:70%;" href="/account/{{ .Tx.Recipient }}">
					{{ .Tx.Recipient }}
				</a>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Amount</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ fmt_coin .Tx.Amount }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Fee</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ fmt_coin .Tx.Fee }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Nonce</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ .Tx.Nonce }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Height</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ .Tx.Height }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Coinbase</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ .Tx.Coinbase }}
				</div>
			</div>

			<div class="is-flex">
				<div class="is-flex-grow-1">Signature</div>
				<div class="is-flex-grow-1 has-text-right hash" style="max-width:70%;">
					{{ .Tx.Signature }}
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
